@model IList<Blog.Models.Post>

@foreach (var item in Model)
{
    <div class="blog-post">
        <h2 class="blog-post-title">@item.Title</h2>
        <p class="blog-post-meta">@item.PostedOn Category:<a asp-controller="Blog" asp-action="Category" asp-route-category="@item.Category.UrlSlug" > @item.Category.Name</a></p>        
        <div class="">@Html.Raw(@item.ShortDescription)</div>
    </div>
}